
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Ad</th>
        <th>Departman</th>
    </tr>
    <tr>
        <th>1</th>
        <th>Yunus</th>
        <th>Yazılımcı</th>
    </tr>
    <tr>
        <th>2</th>
        <th>Faruk</th>
        <th>Müdür</th>
    </tr>
</table>