
@{
    Layout = null;
}

<link href="~/css/ErrorPage.css" rel="stylesheet" />
<body class="bg-purple">

    <div class="stars">

        <div class="central-body">
            <img class="image-404" src="http://salehriaz.com/404Page/img/404.svg" style="width:300px">
            <a href="http://salehriaz.com/404Page/404.html" class="btn-go-home" target="_blank">ANA SAYFA</a>
        </div>
        <div class="objects">
            <img class="object_rocket" src="http://salehriaz.com/404Page/img/rocket.svg" style="width:40px">
            <div class="earth-moon">
                <img class="object_earth" src="http://salehriaz.com/404Page/img/earth.svg" style="width:100px">
                <img class="object_moon" src="http://salehriaz.com/404Page/img/moon.svg" style="width:80px">
            </div>
            <div class="box_astronaut">
                <img class="object_astronaut" src="http://salehriaz.com/404Page/img/astronaut.svg" style="width:140px">
            </div>
        </div>
        <div class="glowing_stars">
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>

        </div>

    </div>

</body>