
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Yazar Ajax İşlemleri</h1>
<br />
<button type="button" id="btngetList" class="btn btn-outline-primary">Yazar Listesi</button>
<button type="button" id="btnGetByID" class="btn btn-outline-success">Yazar Getir</button>
<button type="button" id="btnaddWriter" class="btn btn-outline-info">Yazar Ekle</button>
<button type="button" id="btndeleteWriter" class="btn btn-outline-danger">Yazar Sil</button>
<button type="button" id="btnupdateWriter" class="btn btn-outline-warning">Yazar Güncelle</button>
<br />
<br />
<div id="writerlist">
    Buraya Yazarlar Gelecek
</div>
<br />
<div id="writerGet">
    Buraya 1 Yazar Gelecek
</div>
<br />
<div>
    <input type="text" id="writerID" placeholder="Yazar ID Değerini Girin" class="form-control" />
</div>

<br />

<div>
    <input type="text" class="form-control" id="txtWriterID" placeholder="Yazar ID" />
    <br />
    <input type="text" class="form-control" id="txtWriterName" placeholder="Yazar Adı" />
    <br />
    


</div>

<div>
    <input type="text" class="form-control" id="txtID" placeholder="Silinecek Yazar ID" />
</div>
<br />

<div>
    <input type="text" class="form-control" id="txtID1" placeholder="Güncellenecek Yazar ID" />
    <br />
    <input type="text" class="form-control" id="txtwriterName1" placeholder="Güncellenecek Yazar Adı" />
</div>


@section scripts {
    <script>
        $("#btngetList").click(function () {
            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "Get",
                url: "/Admin/Writer/WriterList",
                success: function (func) {
                    let writer = jQuery.parseJSON(func);
                    console.log(writer);
                    let tableHtml = "<table class=table table-bordered> <tr><th>Yazar ID </th> <th>Yazar Adı </th> </tr>";
                    $.each(writer, (index, value) => {
                        tableHtml += `<tr><td>${value.ID}</td><td>${value.Name}</td></tr>`
                    });
                    tableHtml += "</table>";
                    $("#writerlist").html(tableHtml);
                }
            });
        });

        $("#btnGetByID").click(x => {
            let id = $("#writerID").val();
            $.ajax({
                contentType: "application/json",
                dataType: "json",
                url: "/Admin/Writer/GetWriterByID",
                data: { writerID: id },
                success: function (func) {
                    let writer = jQuery.parseJSON(func);
                    console.log(writer);

                    let getValue = `<table class=table table-bordered> <tr><th>Yazar ID</th><th>Yazar Adı</th></tr><tr><td>${writer.ID}</td><td>${writer.Name}</td></tr></table>`;
                    $("#writerGet").html(getValue);
                }
            });

        });

        $("#btnaddWriter").click(function () {
            let writer = {
                ID: $("#txtWriterID").val(),
                Name: $("#txtWriterName").val()
            };

            $.ajax({
                type: "post",
                url: "/Admin/Writer/AddWriter/",
                data: writer,
                success: function (func) {
                    let result = jQuery.parseJSON(func);
                    alert("Yazar Ekleme işlemi başarılı bir ekilde eklendi");
                }
            })
        });

        $("#btndeleteWriter").click(x => {
            let id = $("#txtID").val();
            $.ajax({
                url: "/Admin/Writer/DeleteWriter/" + id,
                type: "post",
                dataType: "json",
                success: function (func) {
                    
                    alert("Yazar Silme İşlemi Başarıyla Gerçekleşti.. ");
                }
            });
        });

        $("#btnupdateWriter").click(function () {
            let writer = {
                ID: $("#txtID1").val(),
                Name: $("#txtwriterName1").val()
            };
            $.ajax({
                type: "post",
                url: "/Admin/Writer/UpdateWriter/",
                data: writer,
                success: function (func) {
                    alert("Yazar Güncelleme İşlemi Başarıyla Gerçekleşti...");
                }
            })
        })

    </script>
}